In [4]:
import numpy as np
import pandas as pd
from scipy.stats import sem, t
from scipy import mean

## Part 1        
Use the random sampling method to generate a random sample of size 45 from the given International Migration Rates. Then calculate the population mean, the variance and standard deviation of the population.

In [5]:
df_usp=pd.read_excel('Module 4 Project_US Population.xlsx')
df_usp.head()

,2017 US County Migration and Population,Unnamed: 1,County,2017 Population,Net Domestic Migration,Domestic Migration Rate,Net International Migration,International Migration Rate,Natural Change
0,Source1: U.S. Census Bureau,NaN,"Abbeville County, SC",24722,48,1.9,-4,-0.2,-36
1,Source 2: http://www.governing.com/gov-data/ce...,NaN,"Acadia Parish, LA",62590,-508,-8.1,59,0.9,239
2,NaN,NaN,"Accomack County, VA",32545,-237,-7.3,66,2.0,-102
3,NaN,NaN,"Ada County, ID",456849,9322,20.7,946,2.1,2271
4,NaN,NaN,"Adair County, KY",19485,104,5.4,5,0.3,-2

In [87]:
arr1=np.random.choice(df_usp['International Migration Rate'],size=45)

In [92]:
df_arr1=pd.DataFrame({'Random Sample of Size 45':arr1},
                    index=range(45))

df_arr1[31:]

    Random Sample of Size 45
31                       0.7
32                      -0.5
33                       0.2
34                       1.4
35                       1.2
36                       0.7
37                       0.2
38                       0.1
39                       1.4
40                       1.2
41                       3.3
42                       1.4
43                       2.4
44                       1.0

In [84]:
df_p=pd.DataFrame({'Value':[df_usp['International Migration Rate'].mean(),
                            np.var(df_usp['International Migration Rate']),
                            np.std(df_usp['International Migration Rate'])]},
                 index=['Population Mean','Population Variance',
                        'Population Standard deviation'])

df_p

                                  Value
Population Mean                1.243850
Population Variance            3.600422
Population Standard deviation  1.897478

## Part 2      
Using the random sample from Part 1, complete the following analysis of the data.      
1.Calculate the sample mean, sample standard deviation, sample size and sampling (standard) error.

In [89]:
df_s1=pd.DataFrame({'Value':[arr1.mean(),np.var(arr1),len(arr1),np.std(arr1)]},
                  index=['Sample Mean','Sample Variance','Sample Size',
                         'Sample Standard deviation'])
df_s1

                               Value
Sample Mean                 1.422222
Sample Variance             3.695506
Sample Size                45.000000
Sample Standard deviation   1.922370

2.Use the sample to create 92%, 96% and 98% confidence intervals for the population mean.

In [100]:
#use Z table to find Z
def confidence(arr,z):
    n=len(arr)
    m=mean(arr)
    std=np.std(df_usp['International Migration Rate'])
    
    E=(z*std)/(n**0.5)
    start = m - E
    end = m + E
    E=round(E,6)
    return [start,end,-E,E]

con1=confidence(arr1,1.75)
con2=confidence(arr1,2.05)
con3=confidence(arr1,2.33)


df_s2=pd.DataFrame({'Confidence Level CI':[0.92,0.96,0.98],
                   'z or t value corresponding to the CI level':[1.75,2.05,2.33],
                   'Margin of Error':[con1[2:],con2[2:],con3[2:]],
                   'CI Lower Limit':[con1[0],con2[0],con3[0]],
                   'CI Upper Limit':[con1[1],con2[1],con3[1]],
                   'CI Width':[con1[1]-con1[0],con2[1]-con2[0],con3[1]-con3[0]]},
                  index=[0,1,2])
df_s2

,Confidence Level CI,z or t value corresponding to the CI level,Margin of Error,CI Lower Limit,CI Upper Limit,CI Width
0,0.92,1.75,"[-0.495004, 0.495004]",0.927218,1.917226,0.990007
1,0.96,2.05,"[-0.579862, 0.579862]",0.842361,2.002084,1.159723
2,0.98,2.33,"[-0.659062, 0.659062]",0.763160,2.081284,1.318124

3.For each of the confidence intervals in step 2, use the information already calculated to determine the sample size needed to estimate the population mean to within .05 units.

In [8]:
def sampleSize(z,std,E):
    n=((z*std)/E)**2
    return n

n1=int(sampleSize(1.75,np.std(df_usp['International Migration Rate']),0.05))+1
n2=int(sampleSize(2.05,np.std(df_usp['International Migration Rate']),0.05))+1
n3=int(sampleSize(2.33,np.std(df_usp['International Migration Rate']),0.05))+1

df_s3=pd.DataFrame({'Confidence Level CI':[0.92,0.96,0.98],
                  'Desired Margin of Error':[[-0.05,0.05],[-0.05,0.05],[-0.05,0.05]],
                  'Minimum Sample Size Needed':[n1,n2,n3]},
                  index=[0,1,2])
df_s3

   Confidence Level CI Desired Margin of Error  Minimum Sample Size Needed
0                 0.92           [-0.05, 0.05]                        4411
1                 0.96           [-0.05, 0.05]                        6053
2                 0.98           [-0.05, 0.05]                        7819

## Part 3      
1.Use the random sampling method to generate a random sample of size 25 from the given International Migration Rates in the dataset. Then calculate the sample mean, sample standard deviation, sample size, degrees of freedom and sampling error.

In [13]:
arr2=np.random.choice(df_usp['International Migration Rate'],size=25)

In [16]:
df_arr2=pd.DataFrame({'Random Sample of Size 25':arr2},
                    index=range(25))
df_arr2[13:]

    Random Sample of Size 25
13                       0.2
14                       0.3
15                       5.4
16                       0.4
17                       0.0
18                       0.9
19                       0.2
20                       0.0
21                       6.8
22                       1.6
23                       0.1
24                       0.8

In [113]:
mu=df_usp['International Migration Rate'].mean()

df_s4=pd.DataFrame({'Value':[arr2.mean(),np.std(arr2),len(arr2),
                             len(arr2)-1,arr2.mean()-mu]},
                  index=['Sample Mean','Sample Standard deviation','Sample Size',
                         'Degrees of Freedom (DF)','Sampling Error'])
df_s4

                               Value
Sample Mean                 1.244000
Sample Standard deviation   1.781478
Sample Size                25.000000
Degrees of Freedom (DF)    24.000000
Sampling Error              0.000150

2.Use the sample to calculate margin of error, upper and lower confidence interval limit for 92%, 96% and 98% confidence intervals for the population mean. You should know whether to use a z or t value.

In [18]:
#use t table
c1=(1+0.92)/2
c2=(1+0.96)/2
c3=(1+0.98)/2

df=len(arr2)-1

tc1=1.711
tc2=2.064
tc3=2.492

E1=tc1*np.std(arr2)/(len(arr2)**0.5)
E2=tc2*np.std(arr2)/(len(arr2)**0.5)
E3=tc3*np.std(arr2)/(len(arr2)**0.5)

CI_limit1=[arr2.mean()-E1,arr2.mean()+E1]
CI_limit2=[arr2.mean()-E2,arr2.mean()+E2]
CI_limit3=[arr2.mean()-E3,arr2.mean()+E3]

CI_Width=[2*E1,2*E2,2*E3]

df_s5=pd.DataFrame({'Confidence Level CI':[0.92,0.96,0.98],
                   'z or t value corresponding to the CI level':[tc1,tc2,tc3],
                   'Margin of Error':[[round(-E1,6),round(E1,6)],
                                      [round(-E2,6),round(E2,6)],
                                      [round(-E3,6),round(E3,6)]],
                   'CI Lower Limit':[CI_limit1[0],CI_limit2[0],CI_limit3[0]],
                   'CI Upper Limit':[CI_limit1[1],CI_limit2[1],CI_limit3[1]],
                   'CI Width':CI_Width},
                  index=[0,1,2])
df_s5

,Confidence Level CI,z or t value corresponding to the CI level,Margin of Error,CI Lower Limit,CI Upper Limit,CI Width
0,0.92,1.711,"[-0.609622, 0.609622]",0.634378,1.853622,1.219244
1,0.96,2.064,"[-0.735394, 0.735394]",0.508606,1.979394,1.470788
2,0.98,2.492,"[-0.887889, 0.887889]",0.356111,2.131889,1.775777

In [12]:
#https://www.wallstreetmojo.com/sampling-error-formula/

## Part 4      
1.Use the random sampling method to generate a random sample of size 150 from the given International Migration Rates in the dataset. Calculate the sample proportion that are less than 1 for the random sample.

In [133]:
arr3=np.random.choice(df_usp['International Migration Rate'],size=150)

In [134]:
df_arr3=pd.DataFrame({'Random Sample of Size 150':arr3},
                    index=range(150))
df_arr3[126:]

     Random Sample of Size 150
126                        1.2
127                        2.9
128                        3.8
129                        1.0
130                       -0.4
131                        1.8
132                        0.4
133                        2.5
134                       18.6
135                        0.4
136                        0.4
137                        0.8
138                        0.6
139                        1.0
140                        0.9
141                        0.3
142                        0.2
143                        3.3
144                        0.5
145                        1.9
146                        1.4
147                        1.8
148                        0.9
149                        2.7

In [140]:
sps=len([a for a in arr3 if a<1])/len(arr3)
spf=len([a for a in arr3 if a>=1])/len(arr3)

temp=df_usp['International Migration Rate']
p_sps=len([rate for rate in temp if rate>1])/len(temp)

df_s6=pd.DataFrame({'Value':[sps,spf,len(arr3),sps-p_sps]},
                  index=['Sample Proportion of Success',
                         'Sample Proportion of Failure',
                         'Sample Size','Sampling Error'])
df_s6

                                   Value
Sample Proportion of Success    0.560000
Sample Proportion of Failure    0.440000
Sample Size                   150.000000
Sampling Error                  0.202534

2.Calculate the sample proportion of counties whose international migration rate (per 1000) is greater than 2.

In [141]:
sps=len([a for a in arr3 if a>2])/len(arr3)
sps

0.18

3.Calculate the sample proportion of success, the sample proportion of failure, sample size and sampling error.

In [143]:
temp=df_usp['International Migration Rate']
p_sps=len([rate for rate in temp if rate>2])/len(temp)

spf=len([a for a in arr3 if a<=2])/len(arr3)

df_s7=pd.DataFrame({'Value':[sps,spf,len(arr3),p_sps-sps]},
                  index=['Sample Proportion of Success',
                         'Sample Proportion of Failure',
                         'Sample Size','Sampling Error'])
df_s7

                                   Value
Sample Proportion of Success    0.180000
Sample Proportion of Failure    0.820000
Sample Size                   150.000000
Sampling Error                  0.001818

4.Using the sample to create a 90%, a 95%, and 99% confidence intervals for the population proportion of counties whose international migration rate (per 1000) is greater than 2 in the designated cells. Calculate the margin of error, upper and lower CI Limit and CI width.

In [137]:
zc1=1.645
zc2=1.96
zc3=2.58

E1=zc1*(((sps*spf)/len(arr3))**0.5)
E2=zc2*(((sps*spf)/len(arr3))**0.5)
E3=zc3*(((sps*spf)/len(arr3))**0.5)

CI_limit1=[sps-E1,sps+E1]
CI_limit2=[sps-E2,sps+E2]
CI_limit3=[sps-E3,sps+E3]

CI_Width=[2*E1,2*E2,2*E3]

df_s8=pd.DataFrame({'Confidence Level CI':[0.90,0.95,0.99],
                   'z or t value corresponding to the CI level':[zc1,zc2,zc3],
                   'Margin of Error':[[round(-E1,6),round(E1,6)],
                                      [round(-E2,6),round(E2,6)],
                                      [round(-E3,6),round(E3,6)]],
                   'CI Lower Limit':[CI_limit1[0],CI_limit2[0],CI_limit3[0]],
                   'CI Upper Limit':[CI_limit1[1],CI_limit2[1],CI_limit3[1]],
                   'CI Width':CI_Width},
                  index=[0,1,2])
df_s8

,Confidence Level CI,z or t value corresponding to the CI level,Margin of Error,CI Lower Limit,CI Upper Limit,CI Width
0,0.90,1.645,"[-0.051602, 0.051602]",0.128398,0.231602,0.103203
1,0.95,1.960,"[-0.061483, 0.061483]",0.118517,0.241483,0.122966
2,0.99,2.580,"[-0.080931, 0.080931]",0.099069,0.260931,0.161863

5.Determine the minimum sample size needed to estimate the population proportion of interest to within 8%. Do this for each confidence interval above. Assume that there is no prior knowledge about the proportion of counties whose international migration rate (per 1000) is greater than 2.

In [144]:
n1=round(0.25*((zc1/0.08)**2),0)
n2=round(0.25*((zc2/0.08)**2),0)
n3=round(0.25*((zc3/0.08)**2),0)

df_s9=pd.DataFrame({'Confidence Level CI':[0.90,0.95,0.99],
                  'Desired Margin of Error':[[-0.08,0.08],
                                             [-0.08,0.08],[-0.08,0.08]],
                  'Minimum Sample Size Needed':[n1,n2,n3]},
                  index=[0,1,2])
df_s9

   Confidence Level CI Desired Margin of Error  Minimum Sample Size Needed
0                 0.90           [-0.08, 0.08]                       106.0
1                 0.95           [-0.08, 0.08]                       150.0
2                 0.99           [-0.08, 0.08]                       260.0

6.Calculate the population proportion of success and the population proportion of failure.

In [31]:
temp=df_usp['International Migration Rate']
p_sps=len([rate for rate in temp if rate>2])/len(temp)
p_spf=len([rate for rate in temp if rate<=2])/len(temp)

df_s10=pd.DataFrame({'Value':[p_sps,p_spf]},
                  index=['Population Proportion of Success',
                         'Population Proportion of Failure'])
df_s10

                                     Value
Population Proportion of Success  0.181818
Population Proportion of Failure  0.818182

## Part 5           
1.Use the random sampling method to generate a random sample of size 22 from the given population.

In [162]:
arr4=np.random.choice(df_usp['International Migration Rate'],size=22)

In [163]:
df_arr4=pd.DataFrame({'Random Sample of Size 22':arr4},
                    index=range(22))
df_arr4[12:]

    Random Sample of Size 22
12                      -0.1
13                       1.1
14                       0.6
15                       5.9
16                       1.0
17                      -0.5
18                       0.4
19                       0.4
20                       0.4
21                      -0.1

2.Calculate the sample variance, sample standard deviation, and degrees of freedom.

In [164]:
df_s11=pd.DataFrame({'Value':[arr4.mean(),np.std(arr4),len(arr4),len(arr4)-1]},
                  index=['Sample Mean','Sample Standard deviation',
                         'Sample Size','Degrees of Freedom (DF)'])
df_s11

                               Value
Sample Mean                 1.227273
Sample Standard deviation   1.775127
Sample Size                22.000000
Degrees of Freedom (DF)    21.000000

3.Use the sample to create 92%, 96% and 98% confidence intervals for the population variance and standard deviation.

In [165]:
s=np.std(arr4)

P1=[(1-0.92)/2,1-(1-0.92)/2]
P2=[(1-0.96)/2,1-(1-0.96)/2]
P3=[(1-0.98)/2,1-(1-0.98)/2]

df=len(arr4)-1

Chi1=[33.5972,11.1395]
Chi2=[36.3436,9.9146]
Chi3=[38.9323,8.8972]


Q1=[(21*(s**2))/(Chi1[0]),(21*(s**2))/(Chi1[1])]
Q2=[(21*(s**2))/(Chi2[0]),(21*(s**2))/(Chi2[1])]
Q3=[(21*(s**2))/(Chi3[0]),(21*(s**2))/(Chi3[1])]

std1=[Q1[0]**0.5,Q1[1]**0.5]
std2=[Q2[0]**0.5,Q2[1]**0.5]
std3=[Q3[0]**0.5,Q3[1]**0.5]

df_s12=pd.DataFrame({'Confidence Level CI':[0.92,0.96,0.98],
                   'χ2 Left':[Chi1[0],Chi2[0],Chi3[0]],
                   'χ2 Right':[Chi1[1],Chi2[1],Chi3[1]],
                   'CI Lower for Variance':[Q1[0],Q2[0],Q3[0]],
                   'CI Upper for Variance':[Q1[1],Q2[1],Q3[1]],
                   'CI Lower for Standard deviation':[std1[0],std2[0],std3[0]],
                    'CI Upper for Standard deviation':[std1[1],std2[1],std3[1]]},
                  index=[0,1,2])
df_s12

,Confidence Level CI,χ2 Left,χ2 Right,CI Lower for Variance,CI Upper for Variance,CI Lower for Standard deviation,CI Upper for Standard deviation
0,0.92,33.5972,11.1395,1.969586,5.940353,1.403419,2.437284
1,0.96,36.3436,9.9146,1.820749,6.674254,1.349351,2.583458
2,0.98,38.9323,8.8972,1.699683,7.437459,1.303719,2.727171

## Part 6     
Use the sample in Part 1 to test the hypothesis that the average migration rate (per 1000) in the population is greater than 1. Use alpha = 0.05.

In [166]:
# use z-test
X=arr1.mean()
mu=df_usp['International Migration Rate'].mean()
sigma=np.std(df_usp['International Migration Rate'])
n=len(arr1)

Z=(X-mu)/(sigma/(n**0.5))

level_of_significance=0.05

#Use Z and alpha to find P value in Z table.
P_Value=0.7263
#P value is more than level of significance, so we accept the null hypothesis.

In [167]:
df_test1_1=pd.DataFrame({'Parameter':['µ','µ'],
                      'Inequality Type':['>','<='],
                      'Hypothesized mean':[1,1]},
                  index=['Null Hypothesis Ho','Alternative Hypothesis Ha'])
df_test1_1

                          Parameter Inequality Type  Hypothesized mean
Null Hypothesis Ho                µ               >                  1
Alternative Hypothesis Ha         µ              <=                  1

In [168]:
df_test1_2=pd.DataFrame({'Value':[-0.9406,0.7263]},
                  index=['Test Statistic','P-value'])
df_test1_2

                 Value
Test Statistic -0.9406
P-value         0.7263

In [169]:
df_test1_3=pd.DataFrame({'Value':[0.05,0.7263]},
                  index=['Significance Level','Ctitical Value(s)'])
df_test1_3

                     Value
Significance Level  0.0500
Ctitical Value(s)   0.7263

## Part 7         
Use the sample in Part 3 to test the hypothesis that the population average migration rate (per 1000) is less than 1.5. Use alpha = 0.02.

In [170]:
# use t-test
s=np.std(arr2)
T=(X-mu)/(s/(n**0.5))

level_of_significance=0.02

#Use T and alpha to find P value in T table.
P_Value=0.7671
#P value is more than level of significance, so we accept the null hypothesis.

In [171]:
df_test2_1=pd.DataFrame({'Parameter':['µ','µ'],
                      'Inequality Type':['<','>='],
                      'Hypothesized mean':[1.5,1.5]},
                  index=['Null Hypothesis Ho','Alternative Hypothesis Ha'])
df_test2_1

                          Parameter Inequality Type  Hypothesized mean
Null Hypothesis Ho                µ               <                1.5
Alternative Hypothesis Ha         µ              >=                1.5

In [172]:
df_test2_2=pd.DataFrame({'Value':[-1.002,0.7671]},
                  index=['Test Statistic','P-value'])
df_test2_2

                 Value
Test Statistic -1.0020
P-value         0.7671

In [173]:
df_test2_3=pd.DataFrame({'Value':[0.02,0.7671]},
                  index=['Significance Level','Ctitical Value(s)'])
df_test2_3

                     Value
Significance Level  0.0200
Ctitical Value(s)   0.7671

## Part 8        
Use the sample in part 4 to test the hypothesis that less than 20% of the US counties have a migration rate that is higher than 2 (in 1000). Use alpha = 0.03.

In [174]:
p=0.2
Z=(sps-p)/((p*(1-p)/150)**0.5)
Z

level_of_significance=0.03

P_Value=0.5419
#P value is more than level of significance, so we accept the null hypothesis.

In [175]:
df_test3_1=pd.DataFrame({'Parameter':['p','p'],
                      'Inequality Type':['<','>='],
                      'Hypothesized Proportion':[0.2,0.2]},
                  index=['Null Hypothesis Ho','Alternative Hypothesis Ha'])
df_test3_1

                          Parameter Inequality Type  Hypothesized Proportion
Null Hypothesis Ho                p               <                      0.2
Alternative Hypothesis Ha         p              >=                      0.2

In [182]:
df_test3_2=pd.DataFrame({'Value':[0.001818,13.0639,0.5419]},
                  index=['Sampling (standard) Error','Test Statistic','P-value'])
df_test3_2

                               Value
Sampling (standard) Error   0.001818
Test Statistic             13.063900
P-value                     0.541900

In [177]:
df_test3_3=pd.DataFrame({'Value':[0.03,0.5419]},
                  index=['Significance Level','Ctitical Value(s)'])
df_test3_3

                     Value
Significance Level  0.0300
Ctitical Value(s)   0.5419

## Part 9        
Use the sample in Part 5 to test the hypothesis that the standard deviation of the population emigration rates (in 1000) is different from 1.2. Use alpha = 0.05.

In [178]:
df=len(arr4)-1
s=np.std(arr4)
mu=1.2
Chi=(df*s*s)/(mu**2)

level_of_significance=0.05

P_Value=0.5935
# p value is greater than 0.05, so we accept the null hypothesis, 
# which means the standard deviation of the population migration rates (in 1000) is different from 1.2.

In [179]:
df_test4_1=pd.DataFrame({'Parameter':['σ2','σ2'],
                      'Inequality Type':['> or <','='],
                      'Hypothesized Variance':[1.2*1.2,1.2*1.2]},
                  index=['Null Hypothesis  Ho in terms of Variance',
                         'Alternative Hypothesis  Ha in terms of Variance'])
df_test4_1

,Parameter,Inequality Type,Hypothesized Variance
Null Hypothesis Ho in terms of Variance,σ2,> or <,1.44
Alternative Hypothesis Ha in terms of Variance,σ2,=,1.44

In [180]:
df_test4_2=pd.DataFrame({'Value':[14.1811,0.5935]},
                  index=['Test Statistic','P-value'])
df_test4_2

                  Value
Test Statistic  14.1811
P-value          0.5935

In [181]:
df_test4_3=pd.DataFrame({'Value':[0.05,0.5935]},
                  index=['Significance Level','Ctitical Value(s)'])
df_test4_3

                     Value
Significance Level  0.0500
Ctitical Value(s)   0.5935